[submodule "diff-gaussian-rasterization"]
	path = diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
[submodule "diff-gaussian-rasterizer"]
	path = diff-gaussian-rasterizer
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
